<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <!--TODO: Add custom name for each page with Django-->
    <title>SHMOT</title>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
    <!--<meta name="viewport" content="width=1040"/>-->
    <link rel="stylesheet" href="/static/libs/bootstrap/bootstrap-grid.min.css"/>
    <!--<link rel="stylesheet" href="/static/libs/bootstrap/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="/static/libs/font-awesome/css/font-awesome.min.css"/>
    <!--<link rel="stylesheet" href="/static/libs/fancybox/jquery.fancybox.css"/>-->
    <link rel="stylesheet" href="/static/libs/magnific-popup/magnific-popup.css"/>
    <!--<link rel="stylesheet" href="/static/libs/owl-carousel/owl.carousel.css"/>-->
    <link rel="stylesheet" href="/static/libs/owlcarousel/owl.carousel.css">

    <link rel="stylesheet" href="/static/libs/countdown/jquery.countdown.css"/>
    <link rel="stylesheet" href="/static/css/fonts.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/media.css"/>
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&amp;subset=cyrillic"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic" rel="stylesheet">
    <!--Icons-->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body class="signed_in">
<!--[if lt IE 9]>
	<script src="/static/libs/html5shiv/es5-shim.min.js"></script>
	<script src="/static/libs/html5shiv/html5shiv.min.js"></script>
	<script src="/static/libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="/static/libs/respond/respond.min.js"></script>
	<![endif]-->
<script src="/static/libs/jquery/jquery-3.2.1.min.js"></script>
<script src="/static/libs/jquery-mousewheel/jquery.mousewheel.min.js"></script>
<!--<script src="/static/libs/fancybox/jquery.fancybox.pack.js"></script>-->
<script src="/static/libs/magnific-popup/jquery.magnific-popup.js"></script>
<script src="/static/libs/waypoints/waypoints-1.6.2.min.js"></script>
<script src="/static/libs/scrollto/jquery.scrollTo.min.js"></script>
<!--<script src="/static/libs/owl-carousel/owl.carousel.min.js"></script>-->
<script src="/static/libs/owlcarousel/owl.carousel.min.js"></script>

<script src="/static/libs/countdown/jquery.plugin.js"></script>
<script src="/static/libs/countdown/jquery.countdown.min.js"></script>
<script src="/static/libs/countdown/jquery.countdown-ru.js"></script>
<script src="/static/libs/landing-nav/navigation.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/items_bar.js"></script>
<!-- Yandex.Metrika counter --><!-- /Yandex.Metrika counter -->
<!-- Google Analytics counter --><!-- /Google Analytics counter -->

<div class="wrap">
    <!--<div class="wrap">-->
    <!--Navigation bar-->
    {% block header %}
    {% endblock %}
    <!-- Adds Section -->
    <section class="adds_bar span" id="adds_bar">
        <div class="centered">
            <h2 class="section_header">Рекомендуемые объявления</h2>
            <div class="center" style="padding-bottom: 30px;">
                <div class="arrow_button_back" id="prev_i">
                    <img src="/static/images/back_arrow.svg" height="20px">
                </div>
                <div class="owl-carousel" id="items">
                    {% for ad, favourited, liked in advapp_advert|slice:":30" %}
                        <div class="item">
                        <div class="add_item">
                        <a href="post/{{ ad.id }}"><span class="item_span"></span></a>
                        {% if liked %}
                            <div class="likes liked">
                        {% else %}
                            <div class="likes">
                        {% endif %}
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    <a>{{ ad.number_of_likes }}</a>
                    </div>
                    {% if favourited %}
                        <div class="fav starred" data-balloon="Добавить в избранное" data-balloon-pos="top">
                    {% else %}
                        <div class="fav " data-balloon="Добавить в избранное" data-balloon-pos="top">
                    {% endif %}
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    </div>

                    <div class="overlay item_top_border">
                        <div class="center">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <a>{{ ad.city }}</a>
                        </div>
                        {% if ad.forwarding %}
                            <div class="center">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                <a>Пересылка</a>
                            </div>
                        {% endif %}
                        <div class="size">{{ ad.size }}</div>
                    </div>
                    <img class="item_image cropping item_top_border" src={{ ad.image1.url }}>
                    <div class="item_bottom">
                        <div class="item_description">{{ ad.title }}</div>
                        <div class="item_price">{{ ad.price }}</div>
                        <div class="item_brand">{{ ad.brand_name }}</div>
                    </div>
                    </div>
                    </div>
                    {% endfor %}

                    <div class="center others">
                        <a href="">
                            Смотреть другие
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                    </div>
                    <div class="arrow_button_forward" id="next_i">
                        <img src="/static/images/forward_arrow.svg" height="20">
                    </div>
                    </div>
                </div>
    </section>
    <!--Categories and brands-->
    <div class="centered">
        <div style="width: 97%; display: table;border-collapse:separate;border-spacing:16px; margin: 16px auto">
            <div class="block_left">
                <!--<div class="container">-->
                <div>
                    <h2 class="section_header">Актуальные категории</h2>
                    <div class="center">
                        <div class="arrow_button_back" id="prev_c">
                            <img src="/static/images/back_arrow.svg" height="20px">
                        </div>
                        <!--TODO: figure out dependence on image size-->
                        <!--<div style="position: relative">-->
                        <!--<div class="text_on_image">Платья</div>-->
                        <!--<div style="position:relative; z-index: 0">-->
                        <!--<a href="" title="Платья">-->
                        <!--<img class="image" src="/static/images/cat_banner.png">-->
                        <!--</a>-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="categories">
                            <div class="owl-carousel" id="categories">
                                <div class="item">
                                    <a href="">
                                        <div class="text_on_image">Платья</div>
                                        <div style="position:relative; z-index: 0">
                                            <img class="image" src="/static/images/cat_banner_1.png">
                                        </div>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="">
                                        <div class="text_on_image">Джинсовые куртки</div>
                                        <div style="position:relative; z-index: 0">
                                            <img class="image" src="/static/images/cat_banner_2.png">
                                        </div>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="">
                                        <div class="text_on_image">Пуховики</div>
                                        <div style="position:relative; z-index: 0">
                                            <img class="image" src="/static/images/cat_banner_3.png">
                                        </div>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="">
                                        <div class="text_on_image">Худи</div>
                                        <div style="position:relative; z-index: 0">
                                            <img class="image" src="/static/images/cat_banner_4.png">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="arrow_button_forward" id="next_c">
                            <img src="/static/images/forward_arrow.svg" height="20">
                        </div>
                    </div>
                </div>
            </div>
            <div class="block_right">
                <!--<div class="container">-->
                <div>
                    <h2 class="section_header">Бренды</h2>
                    <div class="center">
                        <div class="arrow_button_back" id="prev_b">
                            <img src="/static/images/back_arrow.svg" height="20px">
                        </div>
                        <!--<a href="" title="Champion">-->
                        <!--<img class="image" src="/static/images/champion-brandshop.svg" height="280px" style="margin: 0 auto">-->
                        <!--</a>-->
                        <div class="brands">
                            <div class="owl-carousel" id="brands">
                                <div class="item">
                                    <a href="" title="Champion">
                                        <img class="image" src="/static/images/champion-brandshop.svg" height="280px"
                                             style="margin: 0 auto">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="" title="Champion">
                                        <img class="image" src="/static/images/champion-brandshop.svg" height="280px"
                                             style="margin: 0 auto">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="" title="Champion">
                                        <img class="image" src="/static/images/champion-brandshop.svg" height="280px"
                                             style="margin: 0 auto">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="" title="Champion">
                                        <img class="image" src="/static/images/champion-brandshop.svg" height="280px"
                                             style="margin: 0 auto">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="arrow_button_forward" id="next_b">
                            <img src="/static/images/forward_arrow.svg" height="20">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="span"
         style="margin-bottom: 32px; background-color: white; border-bottom: 1px solid #E0E0E0; border-top: 1px solid #E0E0E0;">
        <div class="centered">
            <div class="center" style="text-align: center">
                <div class="text_on_image" id="invite" style="line-height: normal; left: 0; right: 0; height: auto;">
                    <div style="font-weight: lighter; margin-bottom: 48px">Есть лучший способ избавиться от ненужной
                        одежды.
                    </div>
                    <div style="margin-bottom: 48px; font-size: 24px">Продайте ее.</div>
                    {% if not user.is_authenticated %}
                        <button class="contrast_btn ad_btn" href="#sign_in_popup">Подать объявление</button>
                    {% else %}
                        <a class="contrast_btn ad_btn" href="post/new_post/">Подать объявление</a>
                    {% endif %}
                </div>
                <div style="position:relative; z-index: 0">
                    <img src="/static/images/placeholder.png" width="100%" style="display: block">
                </div>
            </div>
        </div>
    </div>
    <div class="span"
         style="margin-bottom: 86px; background-color: white; border-bottom: 1px solid #E0E0E0;	border-top: 1px solid #E0E0E0;">
        <div class="centered">
            <div class="center">
                <div class="main_stats">
                    <div class="title">
                        <div class="title">
                            На продаже
                        </div>
                        <div class="title" style="font-weight: normal">
                            {{ on_sale }}
                            <img src="/static/images/tshirt.svg" height="10px">
                        </div>
                    </div>
                    <div class="title">
                        <div class="title">
                            Продано
                        </div>
                        <div class="title" style="font-weight: normal">
                            {{ sold }}
                            <img src="/static/images/tshirt.svg" height="10px">
                        </div>
                    </div>
                    <div class="title">
                        <div class="title">
                            Пользователей
                        </div>
                        <div class="title" style="font-weight: normal">
                            {{ user_count }}
                            <img src="/static/images/tshirt.svg" height="10px">
                        </div>
                    </div>
                </div>
                <div style="position:relative; z-index: 0; width: 100%">
                    <img src="/static/images/clothes.png" width="100%" style="display: block">
                </div>
            </div>
        </div>
    </div>

    <div class="add_item" style="display: none">
        <a href=""><span class="item_span"></span></a>
        <div class="likes">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            <i class="fa fa-heart" aria-hidden="true"></i>
            <a>20</a>
        </div>
        <div class="fav" data-balloon="Добавить в избранное" data-balloon-pos="top">
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
        </div>

        <div class="overlay item_top_border">
            <div class="center" style="margin: 10px 0 0 10px">
                <div style="width: 15px; margin-right: 5px">
                    <i class="fa fa-map-marker" aria-hidden="true" style="font-size: 22px"></i>
                </div>
                <a>Москва</a>
            </div>
            <div class="center" style="margin: 5px 0 0 10px">
                <div style="width: 15px; margin-right: 5px">
                    <i class="fa fa-paper-plane" aria-hidden="true" style="font-size: 14px"></i>
                </div>
                <a>Пересылка</a>
            </div>
            <div style="font-size: 22px; position: absolute; right: 0; top: 0; margin: 10px 12px 0 0">S</div>
        </div>
        <img class="item_image cropping item_top_border" src="/static/images/item.jpg">
        <div class="item_bottom">
            <div class="item_description">Свитер</div>
            <div class="item_price">1000 ₽</div>
            <div class="item_brand">Zara</div>
        </div>
    </div>

    <!-- form itself -->
    {% if not user.is_authenticated %}
        <div id="sign_in_popup" class="white-popup mfp-hide">
            <div class="title" style="text-align: center; padding-top: 16px">Вход</div>
            <button class="sign_in_btn" style="color: #597a9e">
                <i class="fa fa-vk" aria-hidden="true"></i> Вконтакте
            </button>
            <button class="sign_in_btn" style="color: #dc4e41">
                <i class="fa fa-google-plus" aria-hidden="true"></i> Google
            </button>
            <button class="sign_in_btn" style="color: #3e5b9b">
                <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
            </button>
            <div class="title" style="text-align: center; padding-top: 16px">Есть аккаунт?</div>
            <form action="profile/signin_submit/" id="sign_in_form" method="post">
                {% csrf_token %}
                <input type="text" name="login" placeholder="Логин">
                <input type="password" name="password" placeholder="Пароль">
                <button class="sign_in_btn" type="button" style="margin-bottom: 16px" onclick="check_sign_in()">Войти
                </button>
                <button id="sign_in" type="submit" style="display: none"></button>
            </form>
            <div class="title" id="sign_up"><a>Забыли пароль?</a> <a href='profile/signup'>Регистрация</a></div>
        </div>
    {% endif %}

    <div class="push"></div>
</div>
{% if user.is_authenticated %}
    <div class="add_button" data-balloon-pos="left" data-balloon="Подать объявление">
        <a href="post/new_post/"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
{% else %}
    <div class="add_button" data-balloon-pos="left" data-balloon="Подать объявление">
        <a href="#sign_in_popup"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
{% endif %}
<div class="footer span">
    <div class="centered" style="height: 100%">
        <div style="position: relative; float: left; padding: 48px; height: 100%">
            <div class="title">
                <a href="">О сайте</a>
            </div>
            <div class="title">
                <a href="">Помощь</a>
            </div>
            <div class="title">
                <a href="">Обратная связь</a>
            </div>
            <div class="title" style="position: absolute; bottom: 0">
                © 2018
            </div>
        </div>
        <div style="float: right; padding: 48px">
            <div class="title">
                Поделиться
            </div>
            <a href="">
                <div class="share_icon" id="vk" style="margin-left: 0">
                    <i class="fa fa-vk" aria-hidden="true"></i>
                </div>
            </a>
            <a href="">
                <div class="share_icon" id="fb">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </div>
            </a>
            <a href="">
                <div class="share_icon" id="twi">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </div>
            </a>
            <a href="">
                <div class="share_icon" id="ok">
                    <i class="fa fa-odnoklassniki" aria-hidden="true"></i>
                </div>
            </a>
            <a href="">
                <div class="share_icon" id="gplus" style="margin-right: 0">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </div>
            </a>
            <div class="title" style="margin-top: 80px">
                <a href="">
                    Мобильное приложение <i class="fa fa-android" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
