{% extends "base.html"%}

{% block header %}
<header class="span">
			<nav>
				<div class="centered ">
					<a class="logo" href="index">
						<img src="/static/images/logo.svg" width="50">
					</a>
					<div class="cat">
						<div class="a">
							<a href="">Женское</a>
						</div>
						<div class="sub span">
							<ul class="centered row">
								<li class="sub_column">
									<div class="title"><a href="">Одежда</a></div>
									<ul>
										<li><a href="">Толстовки и свитшоты</a></li>
										<li><a href="">Платья</a></li>
										<li><a href="">Свитеры и кардиганы</a></li>
										<li><a href="">Лонгсливы</a></li>
										<li><a href="">Футболки</a></li>
										<li><a href="">Блузы и рубашки</a></li>
										<li><a href="">Пиджаки</a></li>
										<li><a href="">Юбки</a></li>
										<li><a href="">Брюки</a></li>
										<li><a href="">Джинсы</a></li>
										<li><a href="">Шорты</a></li>
									</ul>
								</li>
								<li class="sub_column">
									<div class="title"><a href="">Верхняя одежда</a></div>
									<ul>
										<li><a href="">Пальто</a></li>
										<li><a href="">Пуховики</a></li>
										<li><a href="">Парки</a></li>
										<li><a href="">Джинсовки</a></li>
										<li><a href="">Бомберы</a></li>
										<li><a href="">Куртки</a></li>
										<li><a href="">Плащи</a></li>
										<li><a href="">Жилеты</a></li>
									</ul>
								</li>
								<li class="sub_column">
									<div class="title"><a href="">Обувь</a></div>
									<ul>
										<li><a href="">Кеды</a></li>
										<li><a href="">Слипоны</a></li>
										<li><a href="">Кросовки</a></li>
										<li><a href="">Туфли</a></li>
										<li><a href="">Ботинки</a></li>
										<li><a href="">Сапоги</a></li>
										<li><a href="">Полусапоги</a></li>
										<li><a href="">Балетки</a></li>
										<li><a href="">Босоножки</a></li>
									</ul>
								</li>
								<li class="sub_column">
									<div class="title"><a href="">Аксессуары</a></div>
									<ul>
										<li><a href="">Рюкзаки</a></li>
										<li><a href="">Сумки</a></li>
										<li><a href="">Клатчи</a></li>
										<li><a href="">Поясные сумки</a></li>
										<li><a href="">Наручные часы</a></li>
										<li><a href="">Шапки и шарфы</a></li>
										<li><a href="">Перчатки</a></li>
										<li><a href="">Шляпы</a></li>
										<li><a href="">Кепки и панамы</a></li>
										<li><a href="">Ремни</a></li>
										<li><a href="">Очки</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="cat">
						<div class="a">
							<a href="">Мужское</a>
						</div>
						<div class="sub span">
							<ul class="centered row">
								<li class="sub_column">
									<div class="title"><a href="">Одежда</a></div>
									<ul>
										<li><a href="">Толстовки и свитшоты</a></li>
										<li><a href="">Свитеры и кардиганы</a></li>
										<li><a href="">Лонгсливы</a></li>
										<li><a href="">Футболки</a></li>
										<li><a href="">Блузы и рубашки</a></li>
										<li><a href="">Пиджаки</a></li>
										<li><a href="">Костюмы</a></li>
										<li><a href="">Брюки</a></li>
										<li><a href="">Джинсы</a></li>
										<li><a href="">Шорты</a></li>
									</ul>
								</li>
								<li class="sub_column">
									<div class="title"><a href="">Верхняя одежда</a></div>
									<ul>
										<li><a href="">Пальто</a></li>
										<li><a href="">Пуховики</a></li>
										<li><a href="">Парки</a></li>
										<li><a href="">Джинсовки</a></li>
										<li><a href="">Бомберы</a></li>
										<li><a href="">Куртки</a></li>
										<li><a href="">Плащи</a></li>
										<li><a href="">Жилеты</a></li>
									</ul>
								</li>
								<li class="sub_column">
									<div class="title"><a href="">Обувь</a></div>
									<ul>
										<li><a href="">Кеды</a></li>
										<li><a href="">Слипоны</a></li>
										<li><a href="">Кросовки</a></li>
										<li><a href="">Туфли</a></li>
										<li><a href="">Ботинки</a></li>
										<li><a href="">Сапоги</a></li>
									</ul>
								</li>
								<li class="sub_column">
									<div class="title"><a href="">Аксессуары</a></div>
									<ul>
										<li><a href="">Рюкзаки</a></li>
										<li><a href="">Сумки</a></li>
										<li><a href="">Поясные сумки</a></li>
										<li><a href="">Наручные часы</a></li>
										<li><a href="">Шапки и шарфы</a></li>
										<li><a href="">Перчатки</a></li>
										<li><a href="">Шляпы</a></li>
										<li><a href="">Кепки и панамы</a></li>
										<li><a href="">Ремни</a></li>
										<li><a href="">Очки</a></li>
										<li><a href="">Галстуки</a></li>
									</ul>
								</li>
							</ul>

						</div>
					</div>
					<div class="cat">
						<div class="a">
							<a href="">Аксессуары</a>
						</div>
						<div class="sub span" style="height: 304px">
							<ul class="centered row">
								<li class="sub_column">
									<div class="title"><a href="">Сумки</a></div>
									<ul>
										<li><a href="">Рюкзаки</a></li>
										<li><a href="">Поясные сумки</a></li>
										<li><a href="">Сумки</a></li>
										<li><a href="">Клатчи</a></li>
										<li><a href="">Кошельки</a></li>
									</ul>
								</li>
								<li class="sub_column">
									<div class="title"><a href="">Головные уборы</a></div>
									<ul>
										<li><a href="">Шапки</a></li>
										<li><a href="">Шляпы</a></li>
										<li><a href="">Кепки</a></li>
										<li><a href="">Панамы</a></li>
										<li><a href="">Береты</a></li>
									</ul>
								</li>
								<li class="sub_column">
									<div class="title"><a href="">Прочее</a></div>
									<ul>
										<li><a href="">Наручные часы</a></li>
										<li><a href="">Платки и шарфы</a></li>
										<li><a href="">Перчатки</a></li>
										<li><a href="">Ремни и пояса</a></li>
										<li><a href="">Украшения</a></li>
										<li><a href="">Очки</a></li>
										<li><a href="">Галстуки</a></li>
									</ul>
								</li>
							</ul>

						</div>
					</div>
					<div class="cat">
						<div class="a">
							<a href="">Бренды</a>
						</div>
						<div class="sub span">
							<ul class="centered row brands_list">
								<li class="sub_column"><ul></ul></li>
								<li class="sub_column"><ul></ul></li>
								<li class="sub_column"><ul></ul></li>
								<li class="sub_column"><ul></ul></li>
							</ul>
						</div>
					</div>
					<div class="cat">
						<div class="a hype">
							<a href="">
								Хайп
								<svg class="icon icon--best_fire" width="15" height="16" xmlns="http://www.w3.org/2000/svg">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#best_fire">
										<svg id="best_fire" viewBox="0 590 20 20" width="100%" height="100%" fill="#f94f4f">
											<path d="M6.407 609.796c-3.99-2.248-5.04-4.378-4.44-7.284.444-2.146 1.896-3.892 2.035-6.034.62 1.128.88 1.942.95 3.122 1.97-2.416 3.274-5.762 3.352-9.275 0 0 5.137 3.018 5.474 7.578.442-.94.665-2.433.223-3.4 1.327.968 9.092 9.555-1.05 15.295 1.906-3.714.49-8.724-2.82-11.038.222.995-.167 4.706-1.63 6.337.405-2.725-.387-3.877-.387-3.877s-.272 1.525-1.327 3.067c-.964 1.406-1.632 2.9-.38 5.51z"></path>
										</svg>
									</use>
								</svg>
							</a>
						</div>
					</div>
					<div class="right">
						<div class="nav_icon">
							<div class="search_wrap">
								<form name="search" class="search hidden" method="get" action="/search">
									<img src="/static/images/close.svg" class="clear_btn">
									<input type="text" placeholder="Искать...">
									<button type="submit" style="display: none"></button>
								</form>
								<a href="search.html" class="search_btn">
									<img src="/static/images/search_icon.svg" width="50">
								</a>
							</div>
						</div>
						<div class="nav_icon"><a href="">
							<img src="/static/images/fav_icon.svg" width="50">
						</a></div>

						<div class="nav_icon" id="profile">
						    {% if not user.is_authenticated %}
							<a href="#sign_in_popup" style="display: block">
								<img src="/static/images/profile_icon.svg" width="50" style="display: block">
							</a>
							{% else %}
							<a href="profile/{{ user.username }}" style="display: block">
								<img src="/static/images/profile_icon.svg" width="50" style="display: block">
							</a>
							{% endif %}
							{% if user.is_authenticated %}
							<div id="profile_options">
								<ul>
									<li><a href="profile/{{ user.username}}">Профиль</a></li>
									<li><a href="">Объявления</a></li>
									<li><a href="">Подписки</a></li>
									<li><a href="">Настройки <i class="fa fa-cog" aria-hidden="true"></i></a></li>
									<li><a href="profile/logout">Выход</a></li>
								</ul>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</nav>
		</header>
{% endblock %}
