<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>SHMOT</title>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
    <!--<meta name="viewport" content="width=1040"/>-->
    <link rel="stylesheet" href="/static/libs/bootstrap/bootstrap-grid.min.css"/>
    <!--<link rel="stylesheet" href="/static/libs/bootstrap/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="/static/libs/font-awesome/css/font-awesome.min.css"/>
    <!--<link rel="stylesheet" href="/static/libs/fancybox/jquery.fancybox.css"/>-->
    <link rel="stylesheet" href="/static/libs/magnific-popup/magnific-popup.css"/>
    <!--<link rel="stylesheet" href="/static/libs/owl-carousel/owl.carousel.css"/>-->
    <link rel="stylesheet" href="/static/libs/owlcarousel/owl.carousel.css">
    <link rel="stylesheet" href="/static/libs/owlcarousel/owl.theme.default.css">

    <link rel="stylesheet" href="/static/libs/countdown/jquery.countdown.css"/>
    <link rel="stylesheet" href="/static/css/fonts.css"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/media.css"/>
    <link rel="stylesheet" href="/static/css/ad_page.css"/>
    <!--<link rel="stylesheet" href="/static/css/sign_up.css"/>-->
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&amp;subset=cyrillic"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic" rel="stylesheet">
    <!--Icons-->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
{% if user.is_authenticated %}
<body class="signed_in" id="{{ user.username }}"><body>
{% else %}
<body>
<button class="hidden" id="hidden_sign_in_popup" href="#sign_in_popup"></button>
{% endif %}
<!--[if lt IE 9]>
<script src="/static/libs/html5shiv/es5-shim.min.js"></script>
<script src="/static/libs/html5shiv/html5shiv.min.js"></script>
<script src="/static/libs/html5shiv/html5shiv-printshiv.min.js"></script>
<script src="/static/libs/respond/respond.min.js"></script>
<![endif]-->
<script src="/static/libs/jquery/jquery-3.2.1.min.js"></script>
<script src="/static/libs/jquery-mousewheel/jquery.mousewheel.min.js"></script>
<!--<script src="/static/libs/fancybox/jquery.fancybox.pack.js"></script>-->
<script src="/static/libs/magnific-popup/jquery.magnific-popup.js"></script>
<script src="/static/libs/waypoints/waypoints-1.6.2.min.js"></script>
<script src="/static/libs/scrollto/jquery.scrollTo.min.js"></script>
<!--<script src="/static/libs/owl-carousel/owl.carousel.min.js"></script>-->
<script src="/static/libs/owlcarousel/owl.carousel.min.js"></script>

<script src="/static/libs/countdown/jquery.plugin.js"></script>
<script src="/static/libs/countdown/jquery.countdown.min.js"></script>
<script src="/static/libs/countdown/jquery.countdown-ru.js"></script>
<script src="/static/libs/landing-nav/navigation.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/items_bar.js"></script>
<script src="/static/js/ad_page.js"></script>
<!-- Yandex.Metrika counter --><!-- /Yandex.Metrika counter -->
<!-- Google Analytics counter --><!-- /Google Analytics counter -->

<div class="wrap">
    <!--<div class="wrap">-->
    <!--Navigation bar-->
    <header class="span">
        <nav>
            <div class="centered ">
                <a class="logo" href="../../">
                    <img src="/static/images/logo.svg" width="50">
                </a>
                <div class="cat">
                    <div class="a">
                        <a href="">Женское</a>
                    </div>
                    <div class="sub span">
                        <ul class="centered row">
                            <li class="sub_column">
                                <div class="title"><a href="">Одежда</a></div>
                                <ul>
                                    <li><a href="">Толстовки и свитшоты</a></li>
                                    <li><a href="">Платья</a></li>
                                    <li><a href="">Свитеры и кардиганы</a></li>
                                    <li><a href="">Лонгсливы</a></li>
                                    <li><a href="">Футболки</a></li>
                                    <li><a href="">Блузы и рубашки</a></li>
                                    <li><a href="">Пиджаки</a></li>
                                    <li><a href="">Юбки</a></li>
                                    <li><a href="">Брюки</a></li>
                                    <li><a href="">Джинсы</a></li>
                                    <li><a href="">Шорты</a></li>
                                </ul>
                            </li>
                            <li class="sub_column">
                                <div class="title"><a href="">Верхняя одежда</a></div>
                                <ul>
                                    <li><a href="">Пальто</a></li>
                                    <li><a href="">Пуховики</a></li>
                                    <li><a href="">Парки</a></li>
                                    <li><a href="">Джинсовки</a></li>
                                    <li><a href="">Бомберы</a></li>
                                    <li><a href="">Куртки</a></li>
                                    <li><a href="">Плащи</a></li>
                                    <li><a href="">Жилеты</a></li>
                                </ul>
                            </li>
                            <li class="sub_column">
                                <div class="title"><a href="">Обувь</a></div>
                                <ul>
                                    <li><a href="">Кеды</a></li>
                                    <li><a href="">Слипоны</a></li>
                                    <li><a href="">Кросовки</a></li>
                                    <li><a href="">Туфли</a></li>
                                    <li><a href="">Ботинки</a></li>
                                    <li><a href="">Сапоги</a></li>
                                    <li><a href="">Полусапоги</a></li>
                                    <li><a href="">Балетки</a></li>
                                    <li><a href="">Босоножки</a></li>
                                </ul>
                            </li>
                            <li class="sub_column">
                                <div class="title"><a href="">Аксессуары</a></div>
                                <ul>
                                    <li><a href="">Рюкзаки</a></li>
                                    <li><a href="">Сумки</a></li>
                                    <li><a href="">Клатчи</a></li>
                                    <li><a href="">Поясные сумки</a></li>
                                    <li><a href="">Наручные часы</a></li>
                                    <li><a href="">Шапки и шарфы</a></li>
                                    <li><a href="">Перчатки</a></li>
                                    <li><a href="">Шляпы</a></li>
                                    <li><a href="">Кепки и панамы</a></li>
                                    <li><a href="">Ремни</a></li>
                                    <li><a href="">Очки</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cat">
                    <div class="a">
                        <a href="">Мужское</a>
                    </div>
                    <div class="sub span">
                        <ul class="centered row">
                            <li class="sub_column">
                                <div class="title"><a href="">Одежда</a></div>
                                <ul>
                                    <li><a href="">Толстовки и свитшоты</a></li>
                                    <li><a href="">Свитеры и кардиганы</a></li>
                                    <li><a href="">Лонгсливы</a></li>
                                    <li><a href="">Футболки</a></li>
                                    <li><a href="">Блузы и рубашки</a></li>
                                    <li><a href="">Пиджаки</a></li>
                                    <li><a href="">Костюмы</a></li>
                                    <li><a href="">Брюки</a></li>
                                    <li><a href="">Джинсы</a></li>
                                    <li><a href="">Шорты</a></li>
                                </ul>
                            </li>
                            <li class="sub_column">
                                <div class="title"><a href="">Верхняя одежда</a></div>
                                <ul>
                                    <li><a href="">Пальто</a></li>
                                    <li><a href="">Пуховики</a></li>
                                    <li><a href="">Парки</a></li>
                                    <li><a href="">Джинсовки</a></li>
                                    <li><a href="">Бомберы</a></li>
                                    <li><a href="">Куртки</a></li>
                                    <li><a href="">Плащи</a></li>
                                    <li><a href="">Жилеты</a></li>
                                </ul>
                            </li>
                            <li class="sub_column">
                                <div class="title"><a href="">Обувь</a></div>
                                <ul>
                                    <li><a href="">Кеды</a></li>
                                    <li><a href="">Слипоны</a></li>
                                    <li><a href="">Кросовки</a></li>
                                    <li><a href="">Туфли</a></li>
                                    <li><a href="">Ботинки</a></li>
                                    <li><a href="">Сапоги</a></li>
                                </ul>
                            </li>
                            <li class="sub_column">
                                <div class="title"><a href="">Аксессуары</a></div>
                                <ul>
                                    <li><a href="">Рюкзаки</a></li>
                                    <li><a href="">Сумки</a></li>
                                    <li><a href="">Поясные сумки</a></li>
                                    <li><a href="">Наручные часы</a></li>
                                    <li><a href="">Шапки и шарфы</a></li>
                                    <li><a href="">Перчатки</a></li>
                                    <li><a href="">Шляпы</a></li>
                                    <li><a href="">Кепки и панамы</a></li>
                                    <li><a href="">Ремни</a></li>
                                    <li><a href="">Очки</a></li>
                                    <li><a href="">Галстуки</a></li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="cat">
                    <div class="a">
                        <a href="">Аксессуары</a>
                    </div>
                    <div class="sub span" style="height: 304px">
                        <ul class="centered row">
                            <li class="sub_column">
                                <div class="title"><a href="">Сумки</a></div>
                                <ul>
                                    <li><a href="">Рюкзаки</a></li>
                                    <li><a href="">Поясные сумки</a></li>
                                    <li><a href="">Сумки</a></li>
                                    <li><a href="">Клатчи</a></li>
                                    <li><a href="">Кошельки</a></li>
                                </ul>
                            </li>
                            <li class="sub_column">
                                <div class="title"><a href="">Головные уборы</a></div>
                                <ul>
                                    <li><a href="">Шапки</a></li>
                                    <li><a href="">Шляпы</a></li>
                                    <li><a href="">Кепки</a></li>
                                    <li><a href="">Панамы</a></li>
                                    <li><a href="">Береты</a></li>
                                </ul>
                            </li>
                            <li class="sub_column">
                                <div class="title"><a href="">Прочее</a></div>
                                <ul>
                                    <li><a href="">Наручные часы</a></li>
                                    <li><a href="">Платки и шарфы</a></li>
                                    <li><a href="">Перчатки</a></li>
                                    <li><a href="">Ремни и пояса</a></li>
                                    <li><a href="">Украшения</a></li>
                                    <li><a href="">Очки</a></li>
                                    <li><a href="">Галстуки</a></li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="cat">
                    <div class="a">
                        <a href="">Бренды</a>
                    </div>
                    <div class="sub span">
                        <ul class="centered row brands_list">
                            <li class="sub_column">
                                <ul></ul>
                            </li>
                            <li class="sub_column">
                                <ul></ul>
                            </li>
                            <li class="sub_column">
                                <ul></ul>
                            </li>
                            <li class="sub_column">
                                <ul></ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cat">
                    <div class="a hype">
                        <a href="">
                            Хайп
                            <img src="/static/images/fire.svg">
                        </a>
                    </div>
                </div>
                <div class="right">
                    <div class="nav_icon">
                        <div class="search_wrap">
                            <form name="search" class="search hidden" method="get" action="/search">
                                <img src="/static/images/close.svg" class="clear_btn">
                                <input type="text" placeholder="Искать...">
                                <button type="submit" style="display: none"></button>
                            </form>
                            <a href="search.html" class="search_btn">
                                <img src="/static/images/search_icon.svg" width="50">
                            </a>
                        </div>
                    </div>
                    <div class="nav_icon"><a href="">
                        <img src="/static/images/fav_icon.svg" width="50">
                    </a></div>

                    <div class="nav_icon" id="profile">
                        {% if not user.is_authenticated %}
                            <a href="#sign_in_popup" style="display: block">
                                <img src="/static/images/profile_icon.svg" width="50" style="display: block">
                            </a>
                        {% else %}
                            <a href="../../profile/{{ user.username }}" style="display: block">
                                <img src="{{ user.profile.avatar.url }}" class="user_avatar">
                            </a>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <div id="profile_options">
                                <ul>
                                    <li><a href="../../profile/{{ user.username }}">Профиль</a></li>
                                    <li><a href="">Объявления</a></li>
                                    <li><a href="">Подписки</a></li>
                                    <li><a href="">Настройки <i class="fa fa-cog" aria-hidden="true"></i></a></li>
                                    <li><a href="../../profile/logout">Выход</a></li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="section span">
        <div class="centered">
            <div class="center">
                <div class="photos_wrap">
                    <div class="photos center">
                        <div class="arrow_button_back" id="prev_p">
                            <img src="/static/images/back_arrow.svg" height="20px">
                        </div>
                        <div class="owl-carousel owl-theme" id="photos">
                            <a href="{{ advert.image1.url }}" class="item"><img src="{{ advert.image1.url }}"></a>
                            {% if advert.image2 %}
                                <a href="{{ advert.image2.url }}" class="item"><img src="{{ advert.image2.url }}"></a>
                            {% endif %}
                            {% if advert.image3 %}
                                <a href="{{ advert.image3.url }}" class="item"><img src="{{ advert.image3.url }}"></a>
                            {% endif %}
                            {% if advert.image4 %}
                                <a href="{{ advert.image4.url }}" class="item"><img src="{{ advert.image4.url }}"></a>
                            {% endif %}
                        </div>
                        <div class="arrow_button_forward" id="next_p">
                            <img src="/static/images/forward_arrow.svg" height="20">
                        </div>
                    </div>
                    <a href="" class="center" id="complain">
                        <img class="neutral" src="/static/images/important.svg">
                        <img class="red" src="/static/images/important_red.svg">
                        <p>Пожаловаться</p>
                    </a>
                </div>
                <div class="description">
                    <div class="center ceiling">
                        <a id="{{ advert.id }}" class="add_id hidden"></a>
                        <p class="title">{{ advert.title }}</p>
                        {% if advert.sold %}
                        <div class="sold_marker">Продано</div>
                        {% endif%}
                        {% if liked %}
                            <div class="likes liked">
                        {% else %}
                            <div class="likes">
                        {% endif %}
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <a>{{ advert.number_of_likes }}</a>
                        </div>
                        {% if favourited %}
                            <div class="fav starred" data-balloon="Добавить в избранное" data-balloon-pos="top">
                        {% else %}
                            <div class="fav" data-balloon="Добавить в избранное" data-balloon-pos="top">
                        {% endif %}
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        </div>
                        <div class="title" id="price">{{ advert.price }}</div>
                        <p id="description">
                            {{ advert.description }}
                        </p>
                        <div class="features">
                            {% if advert.size %}
                                <div class="center feature">
                                    <p>Размер</p>
                                    <p>{{ advert.size }}</p>
                                    <div class="center" id="size_table">
                                        <img src="/static/images/ruler_icon.svg" height="16">
                                        Таблица размеров
                                    </div>
                                </div>
                            {% endif %}
                            <div class="center feature">
                                <p>Бренд</p>
                                <p>{{ advert.brand_name }}</p>
                            </div>
                            <div class="center feature">
                                <p>Цвет</p>
                                <p>{{ advert.color }}</p>
                            </div>
                            <div class="center" style="margin-top: 16px">
                                <div style="width: 15px; margin-right: 5px">
                                    <i class="fa fa-map-marker" aria-hidden="true" style="font-size: 22px"></i>
                                </div>
                                <p>{{ advert.city }}</p>
                            </div>
                            {% if advert.forwarding %}
                                <div class="center">
                                    <div style="width: 15px; margin-right: 5px">
                                        <i class="fa fa-paper-plane" aria-hidden="true" style="font-size: 14px"></i>
                                    </div>
                                    <p>Пересылка</p>
                                </div>
                            {% endif %}
                        </div>
                        </div>
                        <div class="profile" id="{{ us.username }}">
                            <div class="center">
                                <a href="../../profile/{{ us.username }}" class="avatar"><img
                                        src="{{ us.profile.avatar.url }}"></a>
                                <div style="margin-left: 18px">
                                    <a href="../../profile/{{ us.username }}"
                                       class="title">{{ us.first_name }} {{ us.last_name }}</a>
                                    {% if us.username != user.username %}
                                    {% if subscibed %}
                                    <button class="sign_in_btn subscribe_btn subscribed">Вы подписаны
                                    </button>
                                    {% else %}
                                    <button class="sign_in_btn subscribe_btn">Подписаться</button>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="stats center">
                                <div class="stats_column">
                                    <div>продано</div>
                                    <div class="number">
                                        {{ us.profile.sold }}
                                        <img src="/static/images/tshirt.svg" height="10px">
                                    </div>
                                </div>
                                <div class="stats_column">
                                    <div>всего</div>
                                    <div class="number">
                                        {{ us.profile.number_of_posts }}
                                        <img src="/static/images/tshirt.svg" height="10px">
                                    </div>
                                </div>
                                <div class="stats_column">
                                    <div>рейтинг</div>
                                    <div class="number">
                                        0/5
                                    </div>
                                </div>
                                <div class="stats_column">
                                    <div>фолловеры</div>
                                    <div class="number">
                                        {{ followers }}
                                    </div>
                                </div>
                                <div class="stats_column">
                                    <div>лайки</div>
                                    <div class="number">
                                        {{ likes }}
                                    </div>
                                </div>
                            </div>
                            <div class="contacts">
                                {% if us.profile.vk %}
                                    <div class="contact center">
                                        <i class="fa fa-vk" aria-hidden="true"></i>
                                        <a href="{{ us.profile.vk }}">Страница Вконтакте</a>
                                        <div class="copy" data-balloon="Копировать" data-balloon-pos="top">
                                            <img src="/static/images/copy.svg">
                                        </div>
                                        <!--<div class="arrow"></div>-->
                                    </div>
                                {% endif %}
                                {% if us.profile.fb %}
                                    <div class="contact center">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                        <a href="{{ us.profile.fb }}">Страница Facebook</a>
                                        <div class="copy" data-balloon="Копировать" data-balloon-pos="top">
                                            <img src="/static/images/copy.svg">
                                        </div>
                                        <!--<div class="arrow"></div>-->
                                    </div>
                                {% endif %}
                                {% if us.profile.phone_number %}
                                    <div class="contact center">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <div>{{ us.profile.phone_number }}</div>
                                        <div class="copy" data-balloon="Копировать" data-balloon-pos="top">
                                            <img src="/static/images/copy.svg">
                                        </div>
                                    </div>
                                {% endif %}
                                {% if us.email %}
                                    <div class="contact center">
                                        <i class="fa fa-envelope" aria-hidden="true" style="font-size: 11px"></i>
                                        <div>{{ us.email }}</div>
                                        <div class="copy" data-balloon="Копировать" data-balloon-pos="top">
                                            <img src="/static/images/copy.svg">
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Ads bar-->
            <section class="adds_bar span" id="adds_bar">
                <div class="centered">
                    <h2 class="section_header">Рекомендуемые объявления</h2>
                    <div class="center" style="padding-bottom: 30px;">
                        <div class="arrow_button_back" id="prev_i">
                            <img src="/static/images/back_arrow.svg" height="20px">
                        </div>
                        <div class="owl-carousel" id="items">

                            {% for ad, favourited, liked in advapp_advert|slice:":30" %}
                                <div class="item">
                                    {% if ad.sold %}
                                    <div class="add_item ceiling sold">
                                        {% else %}
                                        <div class="add_item ceiling">
                                            {% endif %}
                                <a href="../{{ ad.id }}" class="add_id" id="{{ ad.id }}"><span class="item_span"></span></a>
                                    {% if ad.sold %}
                                    <div class="sold_marker">Продано</div>
                                    {% endif%}
                                {% if liked %}
                                    <div class="likes liked">
                                {% else %}
                                    <div class="likes">
                                {% endif %}
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <a>{{ ad.number_of_likes }}</a>
                            </div>
                            {% if favourited %}
                                <div class="fav starred" data-balloon="Добавить в избранное" data-balloon-pos="top">
                            {% else %}
                                <div class="fav " data-balloon="Добавить в избранное" data-balloon-pos="top">
                            {% endif %}
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            </div>

                            <div class="overlay item_top_border">
                                <div class="center">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <a>{{ ad.city }}</a>
                                </div>
                                {% if ad.forwarding %}
                                    <div class="center">
                                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                        <a>Пересылка</a>
                                    </div>
                                {% endif %}
                                <div class="size">{{ ad.size }}</div>
                            </div>
                            <img class="item_image cropping item_top_border" src={{ ad.image1.url }}>
                            <div class="item_bottom">
                                <div class="item_description">{{ ad.title }}</div>
                                <div class="item_price">{{ ad.price }}</div>
                                <div class="item_brand">{{ ad.brand_name }}</div>
                            </div>
                            </div>
                            </div>
                            {% endfor %}

                            <div class="center others">
                                <a href="">
                                    Смотреть другие
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </div>
                            </div>
                            <div class="arrow_button_forward" id="next_i">
                                <img src="/static/images/forward_arrow.svg" height="20">
                            </div>
                            </div>
                        </div>
            </section>

            <!-- form itself -->
            {% if not user.is_authenticated %}
                <div id="sign_in_popup" class="white-popup mfp-hide">
                    <div class="title" style="text-align: center; padding-top: 16px">Вход</div>
                    <button class="sign_in_btn" style="color: #597a9e">
                        <i class="fa fa-vk" aria-hidden="true"></i> Вконтакте
                    </button>
                    <button class="sign_in_btn" style="color: #dc4e41">
                        <i class="fa fa-google-plus" aria-hidden="true"></i> Google
                    </button>
                    <button class="sign_in_btn" style="color: #3e5b9b">
                        <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
                    </button>
                    <div class="title" style="text-align: center; padding-top: 16px">Есть аккаунт?</div>
                    <form action="../../profile/signin_submit/" id="sign_in_form" method="post">
                        {% csrf_token %}
                        <input type="text" name="login" placeholder="Логин">
                        <input type="password" name="password" placeholder="Пароль">
                        <button class="sign_in_btn" type="button" style="margin-bottom: 16px" onclick="check_sign_in()">
                            Войти
                        </button>
                        <button id="sign_in" type="submit" style="display: none"></button>
                    </form>
                    <div class="title" id="sign_up"><a>Забыли пароль?</a> <a href='../../profile/signup'>Регистрация</a>
                    </div>
                </div>
            {% endif %}

            <div class="push"></div>
        </div>
        <div class="add_button" data-balloon-pos="left" data-balloon="Подать объявление">
            {% if not user.is_authenticated %}
                <a href="#sign_in_popup"><i class="fa fa-plus" aria-hidden="true"></i></a>
            {% else %}
                <a href="../../post/new_post/"><i class="fa fa-plus" aria-hidden="true"></i></a>
            {% endif %}
        </div>
        <form id="fake_form" class="hidden">
            {% csrf_token %}
        </form>
        <div class="footer span">
            <div class="centered" style="height: 100%">
                <div style="position: relative; float: left; padding: 48px; height: 100%">
                    <div class="title">
                        <a href="">О сайте</a>
                    </div>
                    <div class="title">
                        <a href="">Помощь</a>
                    </div>
                    <div class="title">
                        <a href="">Обратная связь</a>
                    </div>
                    <div class="title" style="position: absolute; bottom: 0">
                        © 2018
                    </div>
                </div>
                <div style="float: right; padding: 48px">
                    <div class="title">
                        Поделиться
                    </div>
                    <a href="">
                        <div class="share_icon" id="vk" style="margin-left: 0">
                            <i class="fa fa-vk" aria-hidden="true"></i>
                        </div>
                    </a>
                    <a href="">
                        <div class="share_icon" id="fb">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </div>
                    </a>
                    <a href="">
                        <div class="share_icon" id="twi">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </div>
                    </a>
                    <a href="">
                        <div class="share_icon" id="ok">
                            <i class="fa fa-odnoklassniki" aria-hidden="true"></i>
                        </div>
                    </a>
                    <a href="">
                        <div class="share_icon" id="gplus" style="margin-right: 0">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                        </div>
                    </a>
                    <div class="title" style="margin-top: 80px">
                        <a href="">
                            Мобильное приложение <i class="fa fa-android" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>
