#adds_bar {
    margin-bottom: 86px;
}
.photos {
    /*width: 420px;*/
    /*width: 38%;*/
    position: relative;
    /*display: flex;*/
    /*align-items: center;*/
}
.photos .arrow_button_back, .photos .arrow_button_forward {
    position: absolute;
    z-index: 10;
    /*top: 200px;*/
    margin-top: -30px;
}
.section .centered>.center {
    align-items: stretch;
    padding: 48px 0 48px 5%;
}
.photos .arrow_button_back {
    left: 20px;
}
.photos .arrow_button_forward {
    right: 20px;
}
.photos_wrap {
    /*padding: 48px 5%;*/
    width: 34%;
}
.owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    background: white;
    border: 1px solid #e0e0e0;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #e0e0e0;
}
#complain {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #e0e0e0;
    width: 120px;
    text-align: center;
    margin: 16px auto -16px;
}
#complain img {
    width: 14px;
    margin-right: 4px;
}
#complain .red {
    display: none;
}
#complain:hover {
    color: #f94f4f;
}
#complain:hover .red {
    display: inline;
}
#complain:hover .neutral {
    display: none;
}
.mfp-arrow {
    width: 55px;
}
.mfp-arrow:before {
    /*display: none !important;*/
    font-family: FontAwesome;
    width: 55px;
    margin: 35px 0 0;
    color: white;
    font-size: 25px;
    border: none;
}
.mfp-arrow:after {
    display: none;
}
.mfp-arrow-left:before {
    /*display: none !important;*/
    content: '\f104';
}
.mfp-arrow-right:before {
    /*display: none !important;*/
    content: '\f105';
}
.mfp-counter {
    font-family: 'Roboto', sans-serif;
}
.mfp-counter:before {
    content: "\f030";
    font-family: FontAwesome, serif;
    margin-right: 4px;
}
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: pointer;
}
.mfp-container {
    padding: 0 55px;
}
.description {
    font-size: 16px;
    width: 35%;
    padding: 0 24px 0 32px;
}
.description>.center {
    position: relative;
}
.description .center .title {
    margin: 0;
    font-weight: normal;
    padding: 0 16px 0 0;
}
.description .fav {
    margin: 0;
    font-size: 18px;
    float: right;
}
.description .likes {
    position: inherit;
    background-color: transparent;
    color: #bfbfbf;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
#price:after {
    content: '\0020BD';
    font-family: 'Roboto', sans-serif;
    margin-left: 4px;
}
#description {
    font-weight: lighter;
    margin-bottom: 16px;
}
.description p {
    margin: 4px 0;
}
.feature>p:first-child {
    width: 80px;
}
.features {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
#size_table {
    float: right;
    color: #97d5ea;
    margin: 0 0 0 auto;
    position: relative;
    cursor: pointer;
}
.profile a {
    color: black;
}
.profile {
    /*padding-left: 24px;*/
    /*padding-right: 18px;*/
    width: 31%;
    border-left: 1px solid #e0e0e0;
}
.profile>.center:first-child {
    padding-left: 24px;
}
.subscribe_btn {
    position: relative;
    font-size: 12px;
    font-weight: normal;
    padding: 5px 10px;
    width: 170px;
    margin: 5px 0;
    background-color: white;
    border: solid 1px #E0E0E0;
    border-radius: 3px;
}
.subscribed {
    background-color: white;
    border-color: #97d5ea;
    color: #97d5ea;
}
.subscribed:hover {
    color: black;
}
.stats {
    margin-top: 16px;
}
.stats_column {
    width: 20%;
    font-family: 'Roboto', sans-serif;
}
.stats_column>* {
    text-align: center;
}
.stats_column>div:first-child {
    padding-bottom: 4px;
}
.number {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.contacts {
    margin-top: 32px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-left: 32px;
}
.contact {
    margin: 4px 0;
    /*width: 100px;*/
}
.contact i {
    margin-right: 8px;
}