/*input, textarea {*/
    /*!*display: block;*!*/
    /*margin: 5px 0;*/
/*}*/
.expanded {
    width: 325px !important;
}
.main_form .title {
    display: inline-block;
}
.main_form .icon img{
    width: 14px;
    margin: 5px;
    display: block;
}
.main_form .icon {
    position: absolute;
    left: 255px;
}
.main_form .icon .red {
    display: none;
}
.main_form .set_focus .red {
    display: block;
}
.main_form .set_focus .neutral {
    display: none;
}

.center {
    position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}


