@charset "UTF-8";

/*Requisites*/
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

/*body input:focus:required:invalid,*/
/*body textarea:focus:required:invalid {*/
	/**/
/*}*/
/*body input:required:valid,*/
/*body textarea:required:valid {*/
	/**/
/*}*/

/* Body */
html {
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 12px;
	/*background: url("../images/background_pattern.svg");*/
	/*background-size: 150px 150px;*/
	background-color: #97d5ea;
	margin: 0;
	height: 100%;
}
.wrap {
	background: url("../images/background_pattern.svg");
	background-size: 150px 150px;
}
a {
	text-decoration: none;
}
/* All content */
.centered {
	margin: 0 auto;
	width: 1340px;
	/*padding: 0 20px;*/
}
#items {
	width: 1125px;
	/*width: 92%;*/
	/*width: 1340px;*/
}
.others {
	height: 277px;
}
.others a {
	font-weight: normal;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: none;
	color: black;
	text-decoration: none;
	letter-spacing: 2px;
	font-size: 16px;
	margin: 0 auto;
}
.add_item, .item_bottom, .item_image, .overlay {
	width: 217px;
}
.item_image, .overlay {
	height: 217px;
}
.image {
	height: 280px;
	margin: 0 auto;
}
.brands {
	width: 230px;
}
.categories {
	width: 700px;
}
.text_on_image {
	height: 100%;
	width: 100%;
	line-height: 280px;
	position: absolute;
	z-index: 1;
	text-align: center;
	margin: 0 0;
	color: white;
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: normal;
	text-transform: uppercase;
}
/*.adds_bar {*/
	/*height: 350px;*/
/*}*/
@media screen and (max-width: 1024px) {
	.mfp-bg, .mfp-wrap, .wrap {
		width: 1024px;
	}
	.centered {
		margin: 0 auto;
		width: 1024px;
		/*padding: 0 10px;*/
	}
	#invite {
		width: 1024px;
	}
	.span {
		width: 1024px;
	}
	#items {
		/*width: 1024px;*/
		width: 925px;
	}
	.others {
		height: 237px;
	}
	.add_item, .item_bottom, .item_image, .overlay {
		width: 177px;
	}
	.item_image, .overlay {
		height: 177px;
	}

	/*.adds_bar {*/
		/*height: 305px;*/
	/*}*/
	.image {
		height: 220px;
	}
	.brands {
		width: 180px;
	}
	.categories {
		width: 550px;
	}
	.text_on_image {
		line-height: 220px;
	}
	header .search {
		display: none !important;
	}
}
@media screen and (max-width: 1220px) and (min-width: 1025px) {
	.span {
		width: 1340px;
	}
}
@media screen and (max-width: 1340px) and (min-width: 1220px) {
	.centered {
		width: 100%;
	}
	#items {
		width: 1125px;
		/*width: 100%;*/
	}
	.add_item, .item_bottom, .item_image, .overlay {
		width: 217px;
	}
	.item_image, .overlay {
		height: 217px;
	}
}
/* Navigation */
header {
	height: 50px;
	font-size: 16px;
	font-weight: lighter;
	text-transform: uppercase;
	background-color: white;
	border-bottom: 1px solid #E0E0E0;
}
.title {

}
.logo {
	float: left;
	height: 50px;
	margin-left: 5%;
	margin-right: 40px;
}
.cat {
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: left;
	padding: 0 15px;
	letter-spacing: 2px;
	/*transition: all 0.3s linear;*/
}
.cat a {
	color: black;
	text-decoration: none;
	padding-bottom: 14px;
	padding-top: 16px;
}
.cat .a {
	height: 50px;
}
.cat:hover .a{
	border-bottom: solid 1px black;
}
.cat:hover .hype a{
	color: #f94f4f;
}
.cat:hover .hype{
	border-bottom: solid 1px #f94f4f;
}

.nav_icon {
	height: 50px;
	float: left;
}
.nav_icon img:hover{
	opacity: 0.8;
}
.user_avatar {
	width: 30px;
	border-radius: 50%;
	object-fit: cover;
	height: 30px;
	display: block;
	margin: 10px;
}

header nav .right {
	float: right;
	margin-right: 20px;
}
/*Subcategories*/
.sub {
	/*height: 400px;*/
	padding-bottom: 24px;
	border-bottom: 1px solid #E0E0E0;
	/*overflow: hidden;*/
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	background: white;
	z-index: 1001;
	line-height: 28px;
	letter-spacing: 2px;
}
.sub a {
	color: black;
}
.cat:hover .sub {
	display: block;
}
.sub ul {
	list-style: none;
	padding-left: 0;
	margin-top: 16px !important;
}
.sub a {
	padding: 0 0;
	text-transform: none;
}
.sub ul ul {
	padding: 0 0;
}
.sub ul .sub_column{
	padding: 0 25px 0 0;
	width: 240px;
}
.sub_column:first-child {
	margin-left: 5%;
}
.sub_column .title {
	font-weight: normal;
}
/* Sections */
.section_header {
	margin-left: 32px;
	margin-top: 16px;
	margin-bottom: 16px;
	color: black;
	font-size: 16px;
	letter-spacing: 2px;
	font-weight: lighter;
	text-transform: uppercase;
}
.adds_bar {
	margin-top: 32px;
	/*margin-bottom: 32px;*/
	background-color: white;
	border-bottom: 1px solid #E0E0E0;
	border-top: 1px solid #E0E0E0;
}
.adds_bar .section_header {
	margin-left: 5%;
}
.arrow_button_back {
	/*padding: 20px 10px 20px 10px;*/
	margin: 0 auto;
	width: 20px;
	height: 20px;
	cursor: pointer;
	float: left;
}
.arrow_button_forward{
	/*padding: 20px 10px 20px 10px;*/
	margin: 0 auto;
	width: 20px;
	height: 20px;
	cursor: pointer;
	float: right;
}
.center {
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.block_left {
	width: 70%;
	/*float: left;*/
	display: table-cell;
}
.block_right {
	width: 30%;
	/*float: left;*/
	display: table-cell;
}
.block_left  {
	background-color: white;
	border: 1px solid #E0E0E0;
	margin-left: 32px;
	margin-right: 16px;
	/*height: 110%;*/
	padding-bottom: 32px;
}
.block_right  {
	background-color: white;
	border: 1px solid #E0E0E0;
	margin-left: 16px;
	margin-right: 32px;
}

.main_stats {
	z-index: 1;
	position: absolute;
	width: 300px;
	margin: 0 70px;
	text-align: center;
}

.title {
	font-size: 16px;
	padding: 0  0 16px 0;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.contrast_btn {
	background-color: #30c6ea;
	border: none;
	border-radius: 3px;
	padding: 16px 32px;
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	cursor: pointer;
	font-size: 16px;
	letter-spacing: 2px;
	font-weight: lighter;
	text-transform: uppercase;
	transition: all 0.3s linear;
}
.contrast_btn:disabled {
	cursor: default;
}
.contrast_btn:hover {
	opacity: 0.8;
}
.contrast_btn:disabled:hover {
	opacity: 1;
}

.ad_btn:hover {
	opacity: 1;
	background-color: white;
	border-color: white;
	color: #30c6ea;
}

.sign_in_btn {
	width: 250px;
	margin: 5px 0;
	background-color: white;
	border: solid 1px #E0E0E0;
	border-radius: 3px;
	padding: 14px 32px;
	font-family: 'Roboto Condensed', sans-serif;
	color: black;
	cursor: pointer;
	font-size: 16px;
	letter-spacing: 2px;
	font-weight: lighter;
	text-transform: uppercase;
	transition: all 0.3s linear;
}
.sign_in_btn:hover {
	opacity: 0.5;
	border-color: #c1c1c1;
}

.white-popup {
	position: relative;
	background-color: white;
	width: auto;
	max-width: 350px;
	margin: auto;
	text-align: center;
}

input, textarea, select {
	background-color: white;
	border: solid 1px #E0E0E0;
	border-radius: 3px;
	font-family: 'Roboto', sans-serif;
	color: black;
	font-size: 16px;
	padding: 10px 32px;
}
.set_focus input, .set_focus textarea {
	border-color: #f94f4f;
}
.set_focus {
	border-color: #f94f4f;
}
.set_focus input::placeholder {
	color: #f94f4f;
}
.set_focus::placeholder {
	color: #f94f4f;
}
a:focus, button:focus, input:focus, textarea:focus, select:focus {
	outline: none;
}
input::placeholder, textarea::placeholder {
	color: #E0E0E0;
}
input::-webkit-input-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, textarea::-webkit-input-placeholder, textarea::-moz-placeholder, textarea:-ms-input-placeholder {
	color: #E0E0E0;
}
#sign_in_popup input {
	margin: 5px 0;
}
#sign_in_popup .title {
	text-align: center;
	padding-top: 16px
}

#sign_up a{
	display: inline-block;
	cursor: pointer;
	width: 250px;
	font-size: 12px;
	font-weight: normal;
	color: #c1c1c1;
	transition: all 0.3s linear;
}
.title#sign_up {
	padding-top: 0;
}
#sign_up a:first-child {
	padding-bottom: 8px;
}
#sign_up a:first-child:after {
	content: '';
	display: block;
	width: 50px;
	height: 1.5px;
	background-color: #e0e0e0;
	margin: 10px auto 0;
}
#sign_up a:hover {
	color: black;
}

.section {
	margin-top: 32px;
	background-color: white;
	border-bottom: 1px solid #E0E0E0;
	border-top: 1px solid #E0E0E0;
}

.wrap {
	min-height: 100%;
	margin-bottom: -300px;
}
.footer, .push {
	height: 300px;
}
.footer {
	background-color: #97d5ea;
	color: white;
}
.footer a {
	color: white;
}
.share_icon {
	margin: 5px;
	cursor: pointer;
	float: left;
	background-color: white;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #97d5ea;
	font-size: 18px;
	transition: all 0.3s linear;
}
#ok {
	font-size: 20px;
}
.share_icon:hover {
	color: white;
}
#vk:hover {
	color: #597a9e;
}
#twi:hover {
	color: #55acee;
}
#fb:hover {
	color: #3e5b9b;
}
#gplus:hover {
	color: #dc4e41;
}
#ok:hover {
	color: #f2720d;
}

.cropping { object-fit: cover }
.add_item {
	/*width: 217px;*/
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	letter-spacing: normal
}
.item_span {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left: 0;
	z-index: 2;
}
.likes {
	cursor: pointer;
	color: white;
	position: absolute;
	z-index: 3;
	right: 0; bottom: 0;
	margin: 0 10px 70px 0;
	border-radius: 2px;
	background-color: rgba(0,0,0,0.35);
	padding: 5px;
}
.likes .fa-heart {
	color: #f94f4f;
}
.likes .fa-heart-o {
	display: inline;
}
.likes .fa-heart {
	display: none;
}
.liked .fa-heart-o {
	display: none;
}
.liked .fa-heart {
	display: inline;
}
.fav {
	cursor: pointer;
	color: #E0E0E0;
	position: absolute;
	z-index: 3;
	font-size: 16px;
	right: 0; bottom: 0;
	margin: 0 12px 8px 0;
}
.fav .fa-star-o {
	color: #bfbfbf;
}
.fav .fa-star {
	color: #FEC94E;
}
.fav .fa-star-o {
	display: inline;
}
.fav .fa-star {
	display: none;
}
.starred .fa-star-o {
	display: none;
}
.starred .fa-star {
	display: inline;
}
.item_top_border {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top: 1px solid #E0E0E0;
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
}
.item_bottom {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom: 1px solid #E0E0E0;
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
	position: relative;
	/*width: 217px;*/
	height: 60px;
	font-size: 16px;
	background-color: white;
}
.item_image {
	position:relative;
	z-index: 0;
	display: block;
	/*width: 217px;*/
	/*height: 217px;*/
}
.overlay {
	display: none;
	position:absolute;
	z-index: 1;
	/*width: 217px;*/
	/*height: 217px;*/
	background-color: rgba(0,0,0,0.35);
	color: white;
}
.overlay>.center:nth-child(1) {
	margin: 10px 0 0 10px
}
.overlay>.center:nth-child(2) {
	margin: 5px 0 0 10px
}
.overlay>.size {
	font-size: 22px;
	position: absolute;
	right: 0; top: 0;
	margin: 10px 12px 0 0;
}
.overlay .fa-map-marker {
	width: 15px; margin-right: 5px; font-size: 22px
}
.overlay .fa-paper-plane {
	width: 15px; margin-right: 5px; font-size: 14px
}
.add_item:hover .overlay {
	display: block;
}
.item_description {
	margin: 10px 0 0 10px;
	position: absolute;
    z-index: 3;
    color: black;
    text-transform: capitalize;
}
.item_price {
	margin: 10px 10px 0 0;
	position: absolute;
	right: 0
}
.item_price:after {
	content: '\0020BD';
	font-family: 'Roboto', sans-serif;
	margin-left: 4px;
}
.item_brand {
	margin: 0 0 10px 10px;
	position: absolute;
	bottom: 0;
	color: #a2a2a2;
	font-size: 14px;
    z-index: 3;
}
#profile {
	position: relative;
}
#profile_options {
	width: 200px;
	display: none;
	padding: 16px;
	position: absolute;
	top: 50px;
	right: -20px;
	z-index: 1100;
}
/*#profile_options:hover {*/
	/*display: block;*/
/*}*/
.signed_in #profile:hover #profile_options {
	display: block;
}
#profile_options ul {
	margin: 0;
	padding: 16px 16px;
	border: 1px solid #E0E0E0;
	background-color: white;
	list-style: none;
}
#profile_options ul li {
	padding: 8px 16px;
}
#profile_options a {
	color: black;
}

.hidden {
	display: none;
}
.title.empty {
	line-height: 293px;
	margin: 0 auto;
	color: #e0e0e0;
	text-align: center;
	font-weight: normal
}

.add_button {
	width: 50px;
	height: 50px;
	margin: 30px;
	background-color: rgb(48, 198, 234);
	border-radius: 50%;
	position: fixed;
	bottom: 0;
	text-align: center;
	font-size: 18px;
	right: 0;
	z-index: 1000;
	border: none;
	box-shadow: 0 0 0 0 rgba(48, 198, 234, 0.7);
}
.add_button a i {
	color: white;
	line-height: 50px;
	width: 50px;
}

.pulse-button {
	-webkit-animation: pulsation 1s infinite cubic-bezier(0.66, 0, 0, 1);
	-moz-animation: pulsation 1s infinite cubic-bezier(0.66, 0, 0, 1);
	-ms-animation: pulsation 1s infinite cubic-bezier(0.66, 0, 0, 1);
	animation: pulsation 1s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover
{
	-webkit-animation: none;-moz-animation: none;
	-ms-animation: none;animation: none;
}

@-webkit-keyframes pulsation {to {box-shadow: 0 0 0 20px rgba(48, 198, 234, 0);}}
@-moz-keyframes pulsation {to {box-shadow: 0 0 0 20px rgba(48, 198, 234, 0);}}
@-ms-keyframes pulsation {to {box-shadow: 0 0 0 20px rgba(48, 198, 234, 0);}}
@keyframes pulsation {to {box-shadow: 0 0 0 20px rgba(48, 198, 234, 0);}}

.contact *:nth-child(2) {
	padding-right: 12px;
}
.copy {
	position: relative;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.1s linear;
}
.contact:hover .copy {
	opacity: 1;
}
.copy img {
	width: 14px;
	display: block;
}

header .search input {
	height: 50px;
	border: none;
	margin: 0;
	background-color: transparent;
}

header .search {
	float: left;
	transition: all linear 0.3s;
}
header .search .clear_btn {
	height: 50px;
	padding: 15px 0;
	float: left;
	cursor: pointer;
}
.search_wrap {
	overflow: hidden;
}
.search.hidden {
	transform: translate(120%);
	opacity: 0;
	display: block;
}
.search_btn {
	cursor: pointer;
}

[data-balloon]:hover:after, [data-balloon]:hover:before, [data-balloon][data-balloon-visible]:after, [data-balloon][data-balloon-visible]:before {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-khtml-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
}
[data-balloon]:before {
	height: 0;
	width: 0;
	content: "";
	margin-bottom: 6px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid rgba(0,0,0,0.7);
}
[data-balloon]:after, [data-balloon]:before {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all .18s ease-out .18s;
	transition: all .18s ease-out .18s;
	bottom: 100%;
	left: 50%;
	position: absolute;
	z-index: 10;
	-webkit-transform: translate(-50%,10px);
	transform: translate(-50%,10px);
	-webkit-transform-origin: top;
	transform-origin: top;
}
*, :after, :before {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}
[data-balloon]:after {
	background: rgba(0,0,0,0.7);
	color: #f8f9fa;
	font-family: 'Roboto', sans-serif;
	content: attr(data-balloon);
	font-size: 14px;
	padding: .65em 1em .5em;
	white-space: nowrap;
	margin-bottom: 11px
}
[data-balloon]:after {
	border-radius: 3px;
}
[data-balloon] {
	display: block;
}
/*left*/
[data-balloon-pos=left]:hover:after, [data-balloon-pos=left]:hover:before, [data-balloon-pos=left][data-balloon-visible]:after, [data-balloon-pos=left][data-balloon-visible]:before {
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
[data-balloon-pos=left]:before {
	margin-right: 1px;
	margin-bottom: 0;
	border-left: 5px solid rgba(0,0,0,0.7);
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}
[data-balloon-pos=left]:after, [data-balloon-pos=left]:before {
	bottom: auto;
	left: auto;
	right: 100%;
	top: 50%;
	-webkit-transform: translate(10px,-50%);
	transform: translate(10px,-50%);
}
[data-balloon-pos=left]:after {
	margin-right: 11px;
}
[data-balloon-pos=left]:after, [data-balloon-pos=left]:before {
	bottom: auto;
	left: auto;
	right: 100%;
	top: 50%;
	-webkit-transform: translate(10px,-50%);
	transform: translate(10px,-50%);
}
/*right*/
[data-balloon-pos=right]:hover:after, [data-balloon-pos=right]:hover:before, [data-balloon-pos=right][data-balloon-visible]:after, [data-balloon-pos=right][data-balloon-visible]:before {
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
[data-balloon-pos=right]:before {
	margin-left: 1px;
	margin-bottom: 0;
	border-right: 5px solid rgba(0,0,0,0.7);
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}
[data-balloon-pos=right]:after, [data-balloon-pos=right]:before {
	bottom: auto;
	left: 100%;
	top: 50%;
	-webkit-transform: translate(-10px,-50%);
	transform: translate(-10px,-50%);
}
[data-balloon-pos=right]:after {
	margin-left: 11px;
}

.add_item [data-balloon]:after {
	left: -450%;
}