input, textarea {
    /*display: block;*/
    margin: 7px 0;
}
#background {
    height: 100%;
    display: block;
    position: absolute;
    bottom: 0; right: 0
}
@media screen and (max-width: 1024px) {
    #background {
        height: 700px;
    }
}
.main_form .title {
    padding-top: 16px;
}
.avatar {
    position: absolute;
    top: 205px;
    left: 470px;
    z-index: 1;
}
.main_form input {
    width: 250px;
}

.avatar .cropping {
    border-radius: 3px;
    width: 110px;
    display: block;
    margin: 0 auto;
}
.avatar .title {
    margin: 16px auto 0;
    display: block;
    width: 180px;
    text-align: center;
    color: black;
    position: relative;
}
#contacts_info {
    left: 235px;
}
.selectize-control, select {
    width: 248px;
    margin-right: 0;
}
.selectize-control {
    margin: 5px 0;
}
.add_button {
    display: none;
}
.center {
    height: 60px;
}
.main_form {
    width: 160px;
    top: 293px;
    left: 386px;
    position: absolute;
    z-index: 10;
}
.fields {
    position: absolute;
    left: -387px;
    top: -305px;
}.dropzone.dz-clickable {
    background-color: transparent;
 }
 .main_form .contrast_btn {
     margin: 32px auto;
 }
#form_wrap {
    position: relative; margin-left: 5%;
    height: 873px;
}
.dz-message {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -25px;
}
#avatar {
    position: absolute;
    top: -58px;
    left: 0;
    right: 0;
}
#avatar .title {
    display: block;
    margin: 0 auto;
}
#default_avatar {
    top: 293px;
    left: 387px;
    position: absolute;
    z-index: 0;
}
#default_avatar img{
    border: 1px solid transparent;
    width: 120px;
    height: 120px;
    margin: 30px 20px;
    border-radius: 4px;
}