@media screen and (max-width: 1024px) {
    .profile {
        margin-right: 6px !important;
    }
}
.ads {
    width: 69%;
    padding: 0;
    display: flex;
    align-items: center;
}


.profile {
    margin-right: 8px;
}

.ads .add_item {
    margin: 0;
}

.content {
    padding: 32px 0 32px 0;
}

.subscription {
    display: flex;
    align-items: stretch;
}

#items {
    width: 85%;
}

.owl-carousel {
    width: 85%;
}

.section>.centered {
    padding: 32px 0% 32px 0;
}
.subscription {
    padding-left: 5%;
    margin-bottom: 32px;
}
#users, #adds {
    margin-bottom: 24px;
    display: inline-block;
    cursor: pointer;
}
#adds {
    margin-right: 44px;
}
.centered>.center {
    width: fit-content;
}
#adds_view {
    padding-left: 5%;
}

#adds_view .add_item {
    margin: 0 9px 16px 9px;
}

@media screen and (max-width: 1024px) {
    #adds_view .add_item {
        margin: 0 6px 16px 6px; !important;
    }
}

.spinner {
    margin: 32px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #97d5ea;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}