.section .centered>.center {
    align-items: stretch;
    padding: 48px 0 48px 5%;
}
.profile a {
    color: black;
}
.profile {
    /*padding-left: 24px;*/
    /*padding-right: 18px;*/
    width: 31%;
    border-right: 1px solid #e0e0e0;
}
.profile>.center:first-child {
    padding-left: 24px;
}
.subscribe_btn {
    position: relative;
    font-size: 12px;
    font-weight: normal;
    padding: 5px 10px;
    width: 170px;
    margin: 5px 0;
    background-color: white;
    border: solid 1px #E0E0E0;
    border-radius: 3px;
}
.subscribed {
    background-color: white;
    border-color: #97d5ea;
    color: #97d5ea;
}
.subscribed:hover {
    color: black;
}
.stats {
    margin-top: 16px;
}
.stats_column {
    width: 20%;
    font-family: 'Roboto', sans-serif;
}
.stats_column>* {
    text-align: center;
}
.stats_column>div:first-child {
    padding-bottom: 4px;
}
.number {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.contacts {
    margin-top: 32px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-left: 32px;
}
.contact {
    margin: 4px 0;
    /*width: 100px;*/
}
.contact i {
    margin-right: 8px;
}
.ads {
    width: 69%;
    padding-left: 32px;
}
.ads .add_item {
    margin: 0 8px 16px;
}
#relevant {
    margin-right: 44px;
}
#relevant, #sold {
    margin-bottom: 24px;
    display: inline-block;
    cursor: pointer;
}
.active {
    border-bottom: 1px solid black;
}
.hidden {
    display: none;
}